<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/header.ejs") %>
  <body>
    <%- include("./partials/nav.ejs") %>
    <h2><%= message.title %></h2>
    <% if (typeof user !== "undefined" && user.membership_status) { %>
    <a href="<%= user.url %>"><%= message.author %></a>
    <% } %>
    <p><%= message.text %></p>
    <p>Created: <%= date %></p>
    <% if (typeof user !== "undefined" && user.is_admin) { %>
    <a href="/message/<%= message._id %>/delete">Delete Message</a>
    <% } %> <%- include("./partials/footer.ejs") %>
  </body>
</html>
