<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/header.ejs") %>
  <body>
    <%- include("./partials/nav.ejs") %>
    <h1>
      Welcome back <%= user.first_name %>! <% if (user.membership_status) { %>
      ❤️ <% } %>
    </h1>
    <% if (typeof user.image !== "undefined") {%>
    <img src="<%= user.image %>" /> alt="profile picture"> <% } %>
    <p>Username: <%= user.username %></p>
    <h2>Messages:</h2>
    <% if (typeof user.messages !== "undefined") { %>
    <ul>
      <% user.messages.forEach(message => { %>
      <li><a href="<%= message.url %>"><%= message.title %></a></li>
      <% }) %>
    </ul>
    <% } %>
    <button><a href="/message">New Message</a></button>
    <% if (!user.membership_status) { %>
    <button><a href="/membership">Become a member</a></button>
    <% } %>
    <button><a href="/messages">All messages</a></button>
    <button><a href="/logout">Sign out</a></button>
    <%- include("./partials/footer.ejs") %>
  </body>
</html>
